/* @define-color primary-bg #24283b; TOKYO */
/* rose-pine */
@define-color primary-bg #191724;
@define-color accent #eb6f92;

* {
    border: none;
    border-radius: 0;
    font-family: mononoki Nerd Font;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#workspaces {
	background-color: @primary-bg;
	margin-top: 5px;
	margin-left: 10px;
	border-radius: 5px;
}
#workspaces button {
    padding: 5px 10px;
    color: #c0caf5;
}

#workspaces button.focused {
    color: @primary-bg;
    background-color: @accent;
    border-radius: 5px;
}

#workspaces button:hover {
	border-radius: 5px;
}

#custom-date, #clock, #battery, #pulseaudio, #network {
	background-color: @primary-bg;
	padding: 5px 10px;
	margin-top: 5px;
}

#tray {
	background-color: @primary-bg;
	padding: 5px 10px;
	margin: 5px 10px 0px 0px;
	border-radius: 5px;
}

#custom-date {
	border-radius: 5px 0px 0px 5px;
	color: #7dcfff;
}

#custom-power {
	color: @primary-bg;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-left: 0px;
	padding: 5px 10px;
}

#clock {
    color: #b48ead;
    border-radius: 0px 5px 5px 0px;
}

#battery {
	border-radius: 0px 5px 5px 0px;
    color: #9ece6a;
    margin-right: 10px;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    background-color: #f7768e;
    color: @primary-bg;
    border-radius: 5px 5px 5px 5px;
}

#network {
	color: #f7768e;
}

#language {
	background-color: @primary-bg;
	border-radius: 5px 0px 0px 5px;
	padding: 5px 10px;
	margin-top: 5px;
}

#custom-separator {
	background-color: @primary-bg;
	color: #b48ead;
	margin-top: 5px;
}

#pulseaudio {
	color: #e0af68;
}

#mpris {
  color: #e0af68;
  background: @primary-bg;
  padding: 4px 8px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 5px;
}

